* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  scroll-behavior: smooth;
}

/* button to top start */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e89041; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 30px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  scroll-behavior: smooth;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* button to top end */

@media only screen and (max-width: 768px) {
  #desktop-menu {
    display: none;
  }
  /* hamburger menu start */
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e89041, #d89050);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }

  /* hamburger menu end */
}
@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }
  .nav-page1 {
    display: none;
  }
  body {
    width: 100%;
    background-color: #ffffff;
  }
}

/* nav menu start */
.navigation-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #224b79;
}

.navigation-logo {
  margin-left: 100px;
}

.navigation-links {
  display: flex;
  gap: 30px;
  margin-right: 100px;
  align-items: center;
}

.navigation-menu li {
  list-style-type: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* nav menu end */

/* banner start */
.banner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #224b79;
  border-radius: 0 0 50px 50px;
  margin-top: -1px;
}

.banner-left-side {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 100px;
}

.banner-right-side {
  height: 408px;
}

.banner-right-side img {
  width: 100%;
  position: relative;
  right: 80px;
}

.banner-container .main-btn {
  background-color: #e89041;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 70px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #ffffff;
  margin: 20px 0;
}

p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 2px 0;
}
.navigation-links a:hover {
  color: #e89041;
  text-decoration: underline;
  opacity: 0.7;
  transform: scale(0.9);
  translate: 0.9s;
}
.navigation-links li:hover {
  color: #e89041;
}
/* banner end */

/* carousel project start */
.heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.heading-container h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #224b79;
  margin: 20px 0;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper {
  width: 90%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
  height: 100%;
}

.image {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.image img {
  width: 80%;
}

.swiper-pagination {
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: black;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: black;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: black;
}

.paragraph-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 60px 0 100px 0;
}

.paragraph-container p {
  color: #224b79;
  max-width: 700px;
  text-align: center;
}
/* carousel project end */

/* why start  */
.why {
  display: flex;
  width: 100%;
  background-color: #224b79;
}

.why-left {
  display: flex;
  width: 40%;
  margin-left: 100px;
}

.why-left img {
  width: 100%;
  min-width: 500px;
}

.why-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
  padding-left: 50px;
}

.why-right h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #ffffff;
  margin: 20px 0;
}

.why-right p {
  padding: 5px 50px 5px 0;
}
/* why end */

/* product card start  */
.priceing-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("/product-card/product-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.priceing-heading {
  display: flex;
  justify-content: center;
  width: 100%;
}

.priceing-container h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #224b79;
  margin: 100px 0;
}

.priceing-wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 30px;
  margin-bottom: 150px;

}

.priceing-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #e89041;
  border-radius: 20px;
  padding: 10px;
  height: fit-content;
  box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.75);

}

.priceing-card.seo,
.priceing-card.ppc {
background-color: #224B79!important;
}

.priceing-card img {
  width: 128px;
  padding: 10px 0 10px 20px;
}

.priceing-container h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 20px;
}

.priceing-container p {
  padding: 10px 20px;
}

/* product card end */

/* offer section start */

.offer-container {
display: flex;
width: 100%;
flex-direction: column;
}

.offer-container h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #224b79;
  margin: 100px 0;
}

.offer-container p {
    color: #224b79;
    max-width: 700px;
    text-align: center;
}

.offer-smallest{
  display: flex;
  width: 845px;
  align-self: center;
  flex-direction: column;
  background-color: #224B79;
  align-items: center;
  margin-top: 50px ;
  margin-bottom: 50px;
  border-radius: 20px;
}

.offer-medium {
  display: flex;
  width: 1221px;
  align-self: center;
  flex-direction: column;
  background-color: #224B79;
  align-items: center;
  margin-top: 50px ;
  margin-bottom: 50px;
  border-radius: 20px;
}

.offer-medium .popular {
  background-color: #E99142;
    color: #224B79;
    padding: 10px 41px;
    transform: rotate(-38deg);
    align-self: self-start;
    position: relative;
    top: 14px;
    right: 31px;
    font-weight: 700;
    clip-path: polygon(20% 0%, 71% 0%, 100% 99%, 0 100%);
  box-shadow: 3px 3px 9px 0px rgba(0,0,0,1);
  font-family: "Ubuntu", sans-serif;
  

}


.offer-big {
  display: flex;
  width: 1499px;
  align-self: center;
  flex-direction: column;
  background-color: #224B79;
  align-items: center;
  margin-top: 50px ;
  margin-bottom: 50px;
  border-radius: 20px;
}

.offer-container h6 {
  font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #E99142;
    margin: 10px 0;
}

.offer-container .offer-price {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #fff;
  margin: 10px 0;
}

.offer-container .gold {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #e89041;
  margin: 10px 0;
}

.offer-container .offer-smallest p,
.offer-container .offer-medium p,
.offer-container .offer-big p
 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 2px 0 20px 0;
}

.offer-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.offer-btn-wrapper .offer-btn {
  font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
}

.offer-container .priceing-heading {
  flex-direction: column;
  align-items: center;
}

.offer-text-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.offer-text-button .main-btn {
  background-color: #e89041;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
}
/* offer section end */

/* contact form start */
.contactform-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #224B79;
  margin-top: 50px;
}

.contactform-inner-wrapper {
  display: flex;
  width: 60%;
}

.contactform-inner-wrapper .contactform-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactform-left-side h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  color: #fff;
  margin: 50px 0 20px 0;
}

.contactform-left-side img {
  display: flex;
}

.contactform-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  position: relative;
  left: 50px;

}
.form-control {
  width: 90%!important;
  height: 50px;
  border-radius: 10px;
  margin: 20px 0;
}

#answer {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

input{
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  
}



.contactform-container .form p {
  font-size: 1.4rem;
}

.btn.btn-primary {
  background-color: #e89041;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffffff;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    width: 90%;
    
}
/* contact form end */


/* footer start  */
.footer-container {
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
}

.footer-inner-wrapper{
  display: flex;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 50px;
  border-bottom: 0.5px solid #224b7994;
  padding-bottom: 30px;
}

.footer-container .footer-inner-wrapper .footer-logo .navigation-logo {
  margin: 0;
}

.footer-container p {
    color: #224b79;
    max-width: 700px;
    text-align: left;
    margin: 20px 0;
}

.footer-container h6 {
  font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #224b79;
    margin: 10px 0;
}
.footer-container i {
  width: 50px;
  font-size: 1.4rem;
}

.footer-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #224B79;
  margin: 20px 0;
}


.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
}
.copyright p {
color: #224B79;
text-align: left;
margin-bottom: 20px;
width: 60%;
}
/* footer end  */

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  h1,
  .heading-container h2,
  .why-right h3,
  .priceing-container h4,
  .offer-container h5,
  .contactform-left-side h6 {
    font-size: 1.8rem;
  }
  p{
    font-size: 1rem;
  }
  .banner-container {
    flex-wrap: wrap;
  }
  .banner-right-side img {
    right: 0;
  }
  .banner-container .main-btn {
    margin-top: 30px;
  }
  .why-left img {
    width: 600px;
  }

  .offer-smallest {
    width: 500px;
  }
  .offer-medium {
    width: 600px;
  }

  .offer-big {
    width: 700px;
  }
  .offer-btn-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-right-side img {
  width: 600px;
  }
  .heading-container h2{
    text-align: center;
  }
  .why-left img {
    min-width: 250px;
    width: 300px;
  }

  .why-right {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
  }
  .priceing-wrapper {
    flex-wrap: wrap;
  }
  .priceing-card {
    min-width: 250px;
  }
  .contactform-inner-wrapper {
    width: 90%;
  }
  .form-control {
    margin: 5px 0;
  }
  .footer-inner-wrapper {
    width: 90%;
  }
  .copyright p {
    width: 90%;
  }
  .navigation-logo {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1100px) {
  h1,
  .heading-container h2,
  .why-right h3,
  .priceing-container h4,
  .offer-container h5,
  .contactform-left-side h6 {
    font-size: 2rem;
  }
  .contactform-container .form p{
    font-size: 1rem;
  }
  .form-control {
    margin: 5px 0;
  }

  .offer-smallest {
    width: 586px;
  }
  .offer-medium {
    width: 800px;
  }

  .offer-big {
    width: 1000px;
  }

  .offer-btn-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .priceing-card {
    min-width: 250px;

  }
  .priceing-wrapper{
    flex-wrap: wrap;
  }

  .banner-right-side {
  height: 537px;
  }
  .banner-right-side img {
    top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-container {
    flex-wrap: wrap;
  }
  .banner-right-side img {
    left: 0;
    width: 90%;
    top: 50px;
  }
  .banner-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .banner-left-side {
    padding: 80px 20px 0px 20px;
    margin: 0;
    align-items: center;
  }
  
  p {
    font-size: 1rem;
    padding: 5px 0;
  }
  .banner-container .main-btn {
    margin-top: 20px;
  }
  h1,
  .heading-container h2,
  .why-right h3,
  .priceing-container h4,
  .offer-container h5,
  .contactform-left-side h6 {
    font-size: 1.5rem;
  }
  .priceing-wrapper {
    flex-wrap: wrap;
  }
  .priceing-card {
    min-width: 250px;
  }
  .offer-smallest {
    width: 250px;
  }
  .offer-medium {
    width: 270px;
  }

  .offer-big {
    width: 320px;
  }
  .banner-right-side img {
    width: 300px;
  }
  .why {
    flex-wrap: wrap;
  }
  .offer-btn-wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactform-inner-wrapper {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    

  }
  .contactform-inner-wrapper .contactform-left-side {
    width: 90%;
    margin-bottom: 20px;
  }
  .contactform-right-side {
    width: 100%;}
    .footer-inner-wrapper{
      flex-wrap: wrap;
    }
    .why-right {
      padding: 0 20px 50px 20px;
    }
    .why-left {
      width: 100%;
      margin: 0;
    }
    .why-left img {
      min-width: 300px;
    }
    .priceing-container h4,
    .offer-container h5 {
      margin: 50px 0 20px 0;
    }
    .offer-btn-wrapper .offer-btn {
      font-size: 0.6;
      padding: 10px 5px;
    }
    .offer-container h6{
      margin-top: 20px;
    }
    .contactform-right-side {
      left: 0;
      padding-bottom: 40px;
    }
    .heading-container {
      margin-top: 50px;
      
    }
    .heading-container h2 {
      text-align: center;
      padding: 0 20px;
    }
    .paragraph-container{
      margin-bottom: 50px;
    }
    .why-right h3 {
      text-align: center;
    }
    .why-right p {
      text-align: center;
      padding: 0 10px;
    }
    .priceing-card img {
      width: 96px;
    }
    .priceing-container h5 {
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 1.3rem;
    }
    .offer-container p {
      padding: 0 20px;
    }
    .contactform-left-side h6 {
      text-align: center;
    }
    .contactform-left-side p {
      text-align: center;
    }
    .form-control {
      width: 100%!important;
      margin: 10px 0;
    }
    .contactform-container .form p {
    font-size: 1.2rem;
    }
    .footer-inner-wrapper {
      width: 90%;
    }
    .copyright p {
      width: 90%;
    }
    .btn.btn-primary {
      width: 100%;
    }

}

@media only screen and (min-width: 1600px) {
  .banner-right-side img {
    width: 700px;
  }
  .why-right{
    width: 50%;
  }
}
